# DATA PREPARATION LAST FM

FICHIER: *'userid-timestamp-artid-artname-traid-traname.tsv'*

## Imports

In [74]:
import pandas as pd

## Data import

In [75]:
file = 'raw data/lastfm-dataset-1K/userid-timestamp-artid-artname-traid-traname.tsv'
df =  pd.read_csv(file, sep='\t',error_bad_lines=False, header = None)

C:\Users\Alumet\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 2120260: expected 6 fields, saw 8\n'
b'Skipping line 2446318: expected 6 fields, saw 8\n'
b'Skipping line 11141081: expected 6 fields, saw 8\n'
b'Skipping line 11152099: expected 6 fields, saw 12\nSkipping line 11152402: expected 6 fields, saw 8\n'
b'Skipping line 11882087: expected 6 fields, saw 8\n'
b'Skipping line 12902539: expected 6 fields, saw 8\nSkipping line 12935044: expected 6 fields, saw 8\n'
b'Skipping line 17589539: expected 6 fields, saw 8\n'

In [76]:
# on renome les colonnes
df.rename(columns={0:'user_id', 1:'time_stamp', 2:'artist_id', 3:'artist_name', 4:'track_id', 5:'track_name'}, inplace=True)

In [77]:
df.head()

,user_id,time_stamp,artist_id,artist_name,track_id,track_name
0,user_000001,2009-05-04T23:08:57Z,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Deep Dish,NaN,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007
1,user_000001,2009-05-04T13:54:10Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Composition 0919 (Live_2009_4_15)
2,user_000001,2009-05-04T13:52:04Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc2 (Live_2009_4_15)
3,user_000001,2009-05-04T13:42:52Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Hibari (Live_2009_4_15)
4,user_000001,2009-05-04T13:42:11Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Mc1 (Live_2009_4_15)

## Quick Exploration

In [78]:
print('shape:',df.shape)
print('user:',df['user_id'].nunique())
print('trak:',df['track_name'].nunique())

shape: (19098853, 6)
user: 992
trak: 1083471

In [79]:
# les 10 tack_name les plus écoutés
df['track_name'].value_counts()[0:10]

Intro                 17561
[Untitled]             6926
Untitled               6586
Home                   6304
All I Need             6234
Angel                  6002
Heartbeats             5676
Wake Up                5658
Crazy                  5627
Such Great Heights     5571
Name: track_name, dtype: int64

In [80]:
# les 10 artis_name les plus écoutés
df['artist_name'].value_counts()[0:10]

Radiohead              115099
The Beatles            100126
Nine Inch Nails         84317
Muse                    63144
Coldplay                62212
Depeche Mode            59609
Pink Floyd              58484
Death Cab For Cutie     58046
Placebo                 53492
Elliott Smith           50202
Name: artist_name, dtype: int64

In [81]:
# Date de première entrée et de dernière entrée
print('Start: ', df['time_stamp'].tail(1).values[0])
print('Stop:  ',df['time_stamp'].head(1).values[0])

Start:  2008-01-27T21:43:14Z
Stop:   2009-05-04T23:08:57Z

### Reset des IDs (verst des int)

In [82]:
# On ne garde que la partie numérique des id
df['user_id'] = df['user_id'].apply(lambda x: int(x[5:]))

In [83]:
# reset des id par des int
d=dict()
for i,name in enumerate(df['artist_id'].unique()):
    d[name]=i
    
df['artist_id'] = df['artist_id'].apply(lambda x: d[x])

In [84]:
# creation d'un nouveau track_id (car trop de NAN)

#on crés une serie uneique de artist+track pour eviter les erreus sur les tracks de même nom
a = df['artist_name']+df['track_name'] 

d=dict()
for i,name in enumerate(a.unique()):
    d[name]=i
    
df['track_id'] = a.apply(lambda x: d[x])

### Verification du reset

In [85]:
df.head()

,user_id,time_stamp,artist_id,artist_name,track_id,track_name
0,1,2009-05-04T23:08:57Z,0,Deep Dish,0,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007
1,1,2009-05-04T13:54:10Z,1,坂本龍一,1,Composition 0919 (Live_2009_4_15)
2,1,2009-05-04T13:52:04Z,1,坂本龍一,2,Mc2 (Live_2009_4_15)
3,1,2009-05-04T13:42:52Z,1,坂本龍一,3,Hibari (Live_2009_4_15)
4,1,2009-05-04T13:42:11Z,1,坂本龍一,4,Mc1 (Live_2009_4_15)

In [86]:
df[df['track_id']==6425].head()

,user_id,time_stamp,artist_id,artist_name,track_id,track_name
24969,2,2008-06-30T20:03:46Z,948,The Postal Service,6425,Such Great Heights
27248,2,2008-05-13T09:27:05Z,948,The Postal Service,6425,Such Great Heights
36218,2,2007-07-20T17:12:25Z,948,The Postal Service,6425,Such Great Heights
38609,2,2007-05-06T12:21:00Z,948,The Postal Service,6425,Such Great Heights
46220,2,2007-01-24T01:45:59Z,948,The Postal Service,6425,Such Great Heights

## Filtre des tracks

In [87]:
df['track_id'].value_counts().describe()

count    1.498715e+06
mean     1.274349e+01
std      5.325322e+01
min      1.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      7.000000e+00
max      3.991000e+03
Name: track_id, dtype: float64

In [88]:
df_temp = df.groupby(['track_id','user_id']).size().reset_index()
df_temp = df_temp.groupby(['track_id']).size().reset_index()
df_temp.rename(columns={0:'count'}, inplace=True)

In [89]:
track_to_keep = set(df_temp[df_temp['count']>=10]['track_id'].values) # 10 écoutes

In [90]:
print('Nb de track à garder: ', len(track_to_keep))

Nb de track à garder:  80600

In [91]:
filter = df['track_id'].apply(lambda x: x in track_to_keep)

In [92]:
df = df[filter].copy()

In [93]:
print('shape:',df.shape)
print('user:',df['user_id'].nunique())
print('trak:',df['track_id'].nunique())

shape: (10422418, 6)
user: 991
trak: 80600

## Filtre des utilisateurs

In [94]:
df['user_id'].value_counts().describe()

count       991.000000
mean      10517.071645
std       13743.076945
min           2.000000
25%        1768.500000
50%        5725.000000
75%       13719.000000
max      150744.000000
Name: user_id, dtype: float64

In [95]:
df_temp = df.groupby(['track_id','user_id']).size().reset_index()
df_temp = df_temp.groupby(['user_id']).size().reset_index()
df_temp.rename(columns={0:'count'}, inplace=True)

In [96]:
user_to_keep = set(df_temp[df_temp['count']>50]['user_id'].values)

In [97]:
print('Nb utilisateur à garder:' , len(user_to_keep))

Nb utilisateur à garder: 959

In [98]:
filter = df['user_id'].apply(lambda x: x in user_to_keep)

In [99]:
df = df[filter].copy()

In [100]:
print('shape:',df.shape)
print('user:',df['user_id'].nunique())
print('trak:',df['track_id'].nunique())

shape: (10420836, 6)
user: 959
trak: 80600

## Reset des IDs track 
Pour optimiser la taille des matrices des model de colaborative filtering

In [101]:
# reset des id par des int
d=dict()
for i,name in enumerate(df['track_id'].unique()):
    d[name]=i
    
df['track_id'] = df['track_id'].apply(lambda x: d[x])

In [102]:
df['track_id'].nunique()

80600

# Sauvegarde du Nouveau dataset

In [103]:
df.shape

(10420836, 6)

In [106]:
df.to_csv('filtered data\\filtered_fm_dataset.csv')