# DATA PREPARATION (Normalisation)

Normalisation des features pour les model content based et mixte (contente + colaboraitf)

## Imports

In [1]:
import numpy as np 
import pandas as pd

## Fichier 'track_features_fm_dataset'

In [2]:
df_track = pd.read_csv('filtered data/track_features_fm_dataset.csv', index_col=0)

### Normalisation et dummies

In [3]:
df_track = pd.concat([df_track,pd.get_dummies(df_track['key'], 'key')], axis=1)
df_track.drop(columns=['key'], inplace=True)

In [4]:
df_track['loudness'] = (df_track['loudness']-df_track['loudness'].min())/(df_track['loudness'].max()-df_track['loudness'].min())

In [5]:
df_track['tempo'] = (df_track['tempo']-df_track['tempo'].min())/(df_track['tempo'].max()-df_track['tempo'].min())

### Verification

In [6]:
df_track.describe()

,track_id,danceability,energy,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,...,key_1,key_2,key_4,key_5,key_6,key_7,key_8,key_9,key_10,key_11
count,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,...,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000
mean,52.293103,0.516897,0.601521,0.717934,0.534483,0.057822,0.287864,0.312521,0.216872,0.355472,...,0.086207,0.086207,0.086207,0.086207,0.103448,0.137931,0.086207,0.103448,0.051724,0.086207
std,30.022219,0.140663,0.275749,0.185231,0.503166,0.057686,0.340470,0.361649,0.159757,0.225610,...,0.283121,0.283121,0.283121,0.283121,0.307203,0.347839,0.283121,0.307203,0.223404,0.283121
min,0.000000,0.182000,0.019300,0.000000,0.000000,0.025200,0.000015,0.000000,0.054400,0.036200,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.250000,0.447250,0.438750,0.628436,0.000000,0.030350,0.009628,0.000983,0.108000,0.158500,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,52.500000,0.530500,0.647000,0.753482,1.000000,0.037250,0.111500,0.128600,0.154000,0.324500,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,79.750000,0.605250,0.848750,0.838332,1.000000,0.052325,0.513500,0.658750,0.270000,0.501500,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,98.000000,0.795000,0.989000,1.000000,1.000000,0.319000,0.993000,0.971000,0.793000,0.956000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Sauvegarde

In [7]:
df_track.to_csv('filtered data/track_features_fm_dataset_normalized.csv')

## Fichier 'user_features_fm_dataset.csv'

In [8]:
df_user= pd.read_csv('filtered data/user_features_fm_dataset.csv', index_col=0)

### Normaliszation et dummies

In [11]:
df_user['gender'] = df_user['gender'].replace({'m':0,'f':1})

In [12]:
df_user = pd.concat([df_user,pd.get_dummies(df_user['country'], 'country')], axis=1)
df_user.drop(columns=['country'], inplace=True)

In [13]:
df_user = pd.concat([df_user,pd.get_dummies(df_user['region'], 'region')], axis=1)
df_user.drop(columns=['region'], inplace=True)

In [14]:
df_user['registered'] = (df_user['registered']-df_user['registered'].min())/(df_user['registered'].max()-df_user['registered'].min())

## Sauvegarde

In [15]:
df_user.to_csv('filtered data/user_features_fm_dataset_normalized.csv')